article {
    display:					block;
    border-radius:				5px;
    margin:						10px;
    background-color:			white;
    width:						300px;
    height:						448px;
    padding:					0px;
    box-shadow:					0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	font-size:					11px;
	overflow:					hidden;
}

.cardHeader {
    display:					flex;
    justify-content:			space-between;
    align-items:				center;

    color:						white;

    padding-left:				10px;
    padding-right:				10px;

    border-top-left-radius:		5px;
    border-top-right-radius:	5px;
	height:						40px
}
.SA {
    background-color:			#FFC000;
}
.type {
	font-size:					22px;
}


/**********************************
 Иконки и маски для них
 **********************************/
.icons {	display:				flex;}
/* контейнеры с иконками и масками */
.icons > div {
	width:						25px;
	height:						25px;
	margin-left:				4px;
	overflow:					hidden;
	padding: 					0px;
	line-height:				0px;
}
/* div-маска */
.mask {
	z-index:					5;
	width:						100%;
	height:						100%;
	background-color:			white;
	border-radius:				30px;
	opacity:					0.8;
	position:					relative;
	top:						-100%;
}
.icon {
	width:						100%;
	position:					relative;
	left:						0px;
	top:						-100%;
	z-index:					0;
}
/* иконка */
.icons > div > img {
	position:					relative;
	width:						100%;
	height:						100%;
	top:						0;
	left:						0;
  
}
/* div-маска во включенной картинке сдвигается и открывает картинку */
div.enabled > .mask {
	width:						100%;
	height:						100%;
	position:					relative;
	left:						-100px;
}
/**********************************
 Конец блока «Иконки и маски для них»
 **********************************/

/**********************************
 Название продукта
 **********************************/
.name {
	position:					relative;
	left:						10px;
	top:						23px;
	font-size:					30px;
	font-weight:				bold;
}

/**********************************
 Блок с картинками сегментов
 **********************************/
.segments {
	position:					relative;
	top:						31px;
	left:						5px;
}

/**********************************
 Заглавная картинка
 **********************************/
 .cover {
	position:					relative;
	width:						100px;
	top:						-57px;
	right:						calc(-100% + 100px);
 }
 
 /**********************************
 Список РЦ с картой на фоне
 **********************************/
 .map {
	display:					grid;
	grid-template-columns:		1fr 1fr 1fr;
	
	font-size:					14px;
	text-align:					center;
	
	position:					relative;
	left:						10px;
	top:						-150px;
	width:						170px;
	height:						60px;

	background-image:			url(../img/map.png);
	background-size:			contain;
	background-repeat:			no-repeat;
 }

/**********************************
Общая настройка табов внутри карточек
 **********************************/

article > section {
	position:					relative;

}

section > .tabCaption {
	display:					flex;
	justify-content:			space-around;
	width:						100%;
	flex-wrap: 					wrap;
}

section > .tabCaption > * {
	flex-grow:					1;	
}

.breaker {
	height:						0;
	width:						100%;
	break-after:				always;
}

.tabCaption > label {
	text-align:					center;
	font-weight:				bold;
	font-size:					11px;
	cursor: 					pointer;
	display:					inline-block;
	position:					relative;
	line-height:				19px;
}

article .description {
	display: 					none;
	position:					relative;
	top:						5px;
	font-size: 					13px;
	padding-left:				10px;
	padding-right:				10px;
}

section > hr {
	border:						0px;
	background-color: 			#eee;
	height:						2px;
	position:					relative;
	top:						27px;
}
.tabCaption > input[type='radio'] {
	display: 					none;
}

.tabCaption > input[type='radio'].first:checked~.first {
	display:					block !important;
}
.tabCaption > input[type='radio'].second:checked~.second {
	display:					block !important;
}
.tabCaption > input[type='radio'].third:checked~.third {
	display:					block !important;
}
.tabCaption > input[type='radio'].fourth:checked~.fourth {
	display:					block !important;
}
.tabCaption > input[type='radio'].fifth:checked~.fifth {
	display:					block !important;
}



/**********************************
Переключатель описаний
 **********************************/
.descClicker {
	top:						-120px;
	left:						0px;
	width:						100%;
}

.descClicker > label{
	background-color:			rgba(255, 255, 255, 0);
	height: 					20px;
}

.descClicker > .tabCaption > input[type='radio']:checked+label {
	border-bottom:				4px solid rgba(255, 192, 0,1)
}

 
/**********************************
 Заголовок переключателя СК
 **********************************/
.companyClicker {
	position:					relative;
	top:						-40px;
 }

.companyClicker > .tabCaption > input[type='radio']:checked+label {
	border-bottom:				4px solid rgba(100, 100, 100,1);
	z-index: 					1;
}

.companyClicker > .tabCaption > .description {
	position:					relative;
	padding-top: 				13px;
	margin-top:					-2px;
	margin-bottom:				0px;
	top:						0px;
	background-color: 			#ccc;
	border-bottom-left-radius:	5px;
	border-bottom-right-radius:	5px;
	height:						50px;;
	z-index: 					0;
}
