.main {
    background-color: #E1E1E1;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: flex-start;
}

article {
    display:			block;
    border-radius:		7px;
    margin:				10px;
    background-color:	white;
    width:				300px;
    height:				448px;
    padding:			0px;
    box-shadow:			0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
	font-size:			11px;
}

.cardHeader {
    display:			flex;
    justify-content:	space-between;
    align-items:		center;
	

    color:						white;
    
    padding-left:				10px;
    padding-right:				10px;

    border-top-left-radius:		7px;
    border-top-right-radius:	7px;
	height:						35px
}

.SA {
    background-color: #FFC000;
}

.cardHeader>span {
   /* background-color: red;*/
}

.productTypeContainer {
    padding-top: 4px;
    padding-bottom: 0px;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.category {
    width:			24px;
    height:			24px;
    padding-left:	4px;
    padding-bottom:	4px;
}

#type {
	font-size:		22px;
}

.photo {
    position: relative;
    top: 15px;
    left: 150px;
    width: 100px;
}

.name {
    font-size: 21px;
    font-weight: bold;
    
    position: relative;
    top: -170px;
    left: 5px;
}

.demandContainer {
    position: relative;
    top: -165px;
    left: 5px;
}

.demand {
    width: 24px;
}

.partnersContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: relative;
    top: 78px;
    left: 0px;
    
    width: 250px;

}

.partner {
    font-size: 9px;
    padding: 4px;
    font-weight: bold;
    border-left: 1px solid #D9D9D9;
}

.partner.off {
    color: #D9D9D9;
    font-weight: normal !important;
}

.partner:nth-child(1) {
    border-left: 0px !important;

}
