article {
    display:					block;
    border-radius:				5px;
    margin:						10px;
    background-color:			white;
    width:						300px;
    height:						448px;
    padding:					0px;
    box-shadow:					0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
	font-size:					11px;
}

.cardHeader {
    display:					flex;
    justify-content:			space-between;
    align-items:				center;

    color:						white;
    
    padding-left:				10px;
    padding-right:				10px;

    border-top-left-radius:		5px;
    border-top-right-radius:	5px;
	height:						40px
}
.SA {
    background-color:			#FFC000;
}
#type {
	font-size:					22px;
}

#categories {
	display:					flex;
}
#categories > div {
	width:						25px;
	height:						25px;
	background-size:			cover;
	display:					inline-block;
	margin-left:				4px;
	overflow:					hidden;
	padding: 					0px;
}

.mask {
	z-index:					10;
}
div.disabled > img.mask {
	width:						100%;
	height:						100%;
	position:					relative;
	left:						0px;
}
div.enabled > img.mask {
	width:						100%;
	height:						100%;
	position:					relative;
	left:						-100px;
}

.icon {
	width:	100%;
	position: relative;
	left: 0px;
	top:	-100%;
	z-index:					1;
}



#consultation {

}
#insurance {
	background-image:			url(../img/icons/category/insurance.png);
}
#service{
	background-image:			url(../img/icons/category/service.png);
}

#name {
	position:					relative;
	left:						10px;
	top:						30px;
	font-size:					26px;
	font-weight:				bold;
}