body {
	font-family:		Roboto, Calibri, Pragmatica, Arial;
}

header {
    background-color:	#999;
	color:				#f0f0f0;
	font-size:			18px;
}

nav {
    background-color:	rgb(0,0,0,0);
}

h1 {
    padding:			0px;
}